/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) {
  
    article {
        flex-direction: row;
        max-width: unset;
        margin: 2rem 0;
    }

    article .post-content {
        padding-left: 1rem;
    }

    .contact-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .hero-banner{
        height: 320px;
    }

    .food-categories {
        display: grid;
        flex-direction: unset;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .food-card{
        justify-self: center;
    }

    .logo-section img{
        max-width: unset;
    }

    .navigation li {
        display: block;
        margin: 0 .3rem;
    }
    
    .navigation li:first-child {
        display: none;
    }
    
    .navigation {
        display: flex;
        min-width: 300px;
        justify-content: space-between;
        align-items: center;
        margin: 0;
    }
    
    nav {
        display: flex;
        align-items: center;
    }
    
    .navigation a {
        font-size: 1.5rem;
    }
    
}