/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) {
  
    article {
        flex-direction: row;
        max-width: unset;
        margin: 2rem 0;
    }

    article .post-content {
        padding-left: 1rem;
    }

    .contact-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
    }

    .hero-banner{
        height: 320px;
    }

    .food-categories {
        display: grid;
        flex-direction: unset;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
    }

    .food-card{
        justify-self: center;
    }
    
}