/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
    article {
        flex-direction: row;
        max-width: unset;
        margin: 2rem 0;
    }

    article .post-content {
        padding-left: 1rem;
    }

    .hero-banner{
        height: 300px;
    }

    .food-categories {
        display: grid;
        flex-direction: unset;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .food-card{
        justify-self: center;
    }
   
}
  