/*
 * Main components
 */

body {
    background-color: #f5f4f2;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

main {
    padding: 1rem;
    max-width: 1100px;
    margin: auto;
}

p {
    line-height: 1.75;
}

.section-title {
    text-align: center;
    padding: 2rem;
}

header {
    background-color: #ffffff;
}

/* Headings */

h1, h2, h3, h4 {
    font-family:  'Poppins', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/*
 * Navigation section
 */

 .header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

.logo-section {
    display: flex;
}

.logo-section img{
    max-height: 90px;
}

.navigation {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    text-align: right;
}
  
.navigation li:first-child {
    display: block;
    font-size: 3rem;
}
  
.navigation li {
    display: none;
}
  
.navigation a {
    font-family: 'Nunito', sans-serif;
    display: block;
    text-decoration: none;
    color: #333333;
}
  
.navigation a:hover, a.active  {
    color: black;
    background-color: white;
}
  
.responsive li {
    display: block;
    font-size: 1.75rem;
    margin: 1rem;
}

/*
 * Footer section
 */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
    background-color: #fff;
}

.social-links {
    list-style: none;
    display: flex;
}

.social-links li {
    margin: .5rem; 
}

.social-links img {
    width: 25px; 
}

.social-links svg.youtube:hover {
    fill: #f20102; 
}

.social-links svg.instagram:hover {
    fill: #c13584; 
}

.social-links svg.facebook:hover {
    fill: #3257a0; 
}

/*
 * Article, post
 */

.blog {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

article {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 2rem 0;
}

article picture {
    display: flex;
    justify-content: center;
}

article .post-content {
    background-color: #fff;
    border-bottom: 4px solid #76768E;
    padding: 0 1rem;
}

/*
 * Banner and CTA
 */
.hero-banner{
    background-image: linear-gradient(rgba(0, 0, 0, .35),rgba(0, 0, 0, .7)), url("../images/dan-gold-4_jhDO54BYg-unsplash.jpg");
    background-position: bottom center;
    height: 200px;
}

.call-to-action {
    text-align: center;
    padding: 3rem;
    background-color: #76768e;
}

/*
 * Contact section
 */

.contact-section {
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

input, textarea, select {
    padding: 5px 15px 2px;
    border: 2px solid #9191a5;
    background-color: #fff;
    line-height: 1.5;
    box-shadow: none;
    width: 100%;
    max-width: 350px;
    font-size: 1.25rem;
}

label{
    margin: .5rem 0;
}

.contact-map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.contact-map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.add-recipe-form {
    display: flex;
    flex-direction: column;
}

.add-recipe-form fieldset {
    display: flex;
    margin-bottom: 2rem;
}

.btn {
    outline: none;
    text-decoration: none;
    border: solid 2px #333;
    padding: .5rem;
    color: #333;
    box-shadow: 4px 4px 0 0 #9191a5;
    max-width: fit-content;
}

.btn-primary{
    color: #fff;
    background: #f0764f;    
}

.btn-primary:hover{
    color: #f0764f;    
    background: #fff;
    cursor: pointer;
}

/* food categories */

.food-categories {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-card img {
    width: 300px;
}

.food-card {
    margin: 0 0 3rem 0;
    max-width: 300px;
}

table#recipe {
    border-spacing: 2em 1em;
}