body {
    background-color: #f5f4f2;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ffffff;
}

.logo-section {
    display: flex;
}

.logo-section img{
    max-height: 90px;
}

.navigation {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    text-align: right;
}
  
.navigation li:first-child {
    display: block;
    font-size: 3rem;
}
  
.navigation li {
    display: none;
}
  
.navigation a {
    font-family: 'Nunito', sans-serif;
    display: block;
    text-decoration: none;
    color: #333333;
}
  
.navigation a:hover, a.active  {
    color: black;
    background-color: white;
}
  
.responsive li {
    display: block;
}

main {
    padding: 1rem;
    max-width: 1100px;
    margin: auto;
}

.section-title{
    text-align: center;
    background-color: #ede7e7;
    padding: 2rem;
}

article{
    display: flex;
}

article .post-content{
    padding: 1rem;
}