/*
 * Main components
 */

body {
    background-color: #f5f4f2;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

main {
    padding: 1rem;
    max-width: 1100px;
    margin: auto;
}

.section-title {
    text-align: center;
    padding: 2rem;
}

header {
    background-color: #ffffff;
}

/* Headings */

h1, h2, h3, h4 {
    font-family:  'Poppins', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

/*
 * Navigation section
 */

 .header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
}

.logo-section {
    display: flex;
}

.logo-section img{
    max-height: 90px;
}

.navigation {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
    text-align: right;
}
  
.navigation li:first-child {
    display: block;
    font-size: 3rem;
}
  
.navigation li {
    display: none;
}
  
.navigation a {
    font-family: 'Nunito', sans-serif;
    display: block;
    text-decoration: none;
    color: #333333;
}
  
.navigation a:hover, a.active  {
    color: black;
    background-color: white;
}
  
.responsive li {
    display: block;
}

/*
 * Footer section
 */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1rem;
    padding-top: 2rem;
    background-color: #fff;
}

.social-links {
    list-style: none;
    display: flex;
}

.social-links li {
    margin: .5rem; 
}

.social-links img {
    width: 25px; 
}

.social-links svg.youtube:hover {
    fill: #f20102; 
}

.social-links svg.instagram:hover {
    fill: #c13584; 
}

.social-links svg.facebook:hover {
    fill: #3257a0; 
}

/*
 * Article, post
 */

.blog {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

article {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 2rem 0;
}

article picture {
    display: flex;
    justify-content: center;
}

article .post-content {
    background-color: #fff;
    border-bottom: 4px solid #76768E;
    padding: 0 1rem;
}

/*
 * Contact section
 */

.contact-section {
    display: flex;
    flex-direction: column;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 5px 15px 2px;
    border: 2px solid #000;
    background-color: #fff;
    line-height: 1.5;
    box-shadow: none;
    width: 100%;
    max-width: 300px;
    font-size: 1.25rem;
}

.contact-map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.contact-map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}